.login {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    :global {

        .login-content {
            position: relative;
            width: 380px;
            // height: 312px;
            padding: 40px 30px;
            background: #ffffff;

            .login-title {
                position: relative;
                color: #404040;
                font-size: 24px;
                font-family: PingFangSC-Semibold;
                color: #404040;
                font-weight: 550;
            }

            .login-block {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;

                .login-rememberme {
                    cursor: pointer;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-start;
                    align-items: center;
                    
                    .checkBox{
                        display:inline-block;
                        width: 15px;
                        height: 15px;
                        margin-left: 0;
                        margin-right: 10px;
                        border: 1px solid rgba(0,0,0,0.3);
                        border-radius: 2px;
                        cursor: pointer;
                    }
        
                    .checked{
                        background: rgb(24, 144, 255);
                        border: 1px solid rgb(24, 144, 255);
                    }
                }
            }

            .login-footer {
                margin-top: 30px;
                
                .login-button {
                    width: 100%;
                    height: 40px;
                    border: 0;
                    font-family: PingFangSC-Medium;
                    font-size: 14px;
                    color: #FFFFFF;
                    letter-spacing: 0;

                    cursor: pointer;
                }

                .login-footer-option {
                    width: 100%;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;

                    padding-top: 10px;
                    font-size: 14px;
                    color: #8590A6;

                    .login-footer-separate {
                        width: 25px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media screen and(max-width: 768px ) {
    .login {
        :global {
            .login-content {
                margin-top: -30vh;
                .login-title {
                    text-align: center;
                }
                .login-footer {
                    .login-button {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and(max-height: 450px ) {
    .login {
        :global {
            .login-content {
                margin-top: 0;
                padding: 0 20px;
                .login-title {
                    text-align: center;
                }
            }
        }
    }
}

@media screen and(max-height: 370px ) {
    .login {
        :global {
            .login-content {
                transform: scale(.8)
            }
        }
    }
}
