{
    "presets": [
        "es2016",
        "env",
        "react",
        "stage-1"
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "style": true
            }
        ],
        "transform-decorators-legacy",
        "transform-eval"
    ]
}