.root{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: rgb(255,255,255);
}
.content{
    width: 100%;
	height: 100%;
	min-height: 350px;
    margin: 0;
	padding: 0;
	background-repeat: no-repeat;
    display:flex;
	flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
 
.loginBox{
	height: 100%;
	margin: 0;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgb(255,255,255);
}

.loginBox .title{
	width: 100%;
	font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: rgba(0,0,0,0.65);
	letter-spacing: 0;
    text-align: center;
	font-size: 40px;
}

.loginBox form{
	margin-top: 30px;
	width:290px ;
}

.loginBox form > div:not(:nth-child(3)){
	width: 100%;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(18,33,51,0.3);
}

.loginBox form > div:nth-child(3){
	margin-top: 20px;
	justify-content: flex-start;
	align-items: center;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #233539;
	height: 20px;
}

.loginBox form > div > span{
	height: 16px;
	margin-left: 0;
	vertical-align:middle;  
}

.loginBox form > div > .checkBox{
	display:inline-block;
	width: 15px;
	height: 15px;
	margin-left: 0;
	margin-right: 10px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 2px;
	cursor: pointer;
}

.loginBox form > div > .checked{
	background: rgb(24, 144, 255);
	border: 1px solid rgb(24, 144, 255);
}

.loginBox form div input{
	height: 24px;
	width: 280px;
	margin-left: 10px;
	border: 0;
	padding: 0;
}

/* .loginBox form div input[type='checkbox']{
	height: 16px;
	width: 16px;
	margin-left: 0;
	vertical-align:middle;  
} */

.loginBox form button{
	width: 100%;
	border: 1px solid #4DA1FF;
	margin-top: 30px;
	height: 40px;
	background: #4DA1FF;
	border-radius: 2px;
	font-family: PingFangSC-Medium;
	font-size: 18px;
	color: #FFFFFF;
	padding: 0;
	cursor: pointer;
}

.loginBox form div input:focus{
	outline: none;
}

.foot{
	width:290px ;
	margin-top: 20px;
	font-family: PingFangSC-Regular;
	height: 20px;
    font-size: 16px;
}

.foot a{
    text-decoration:none;
}

.qrCodeBox{
	position: fixed;
	bottom: 100px;
	width:360px ;
}

.qrimgBox{
    padding: 5px;
    border-radius: 4px;
    border: 4px solid rgba(77,161,255,0.3)
}

.qrimg{
    width: 146px;
    height: 146px;
}

.qrTitle{
    display: inline-block;
    width: 150px;
    height: 20px;
    margin-top: 5px;
    line-height: 20px;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #233539;
}



.maskLayer{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.65);
}

.modal-wrap{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
}

.modal-wrap .modal{
	width: 100%;
	margin-top: 100px;
	margin-bottom: 24px;
	height: 528px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	overflow: auto;
}

.modal-wrap .modal .modal-content{
	position: relative;
	height: 100%;
	width: 520px;
	background: white;
	border-radius: 4px;
}

.modal-content .modal-close{
	width: 56px;
	height: 56px;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.modal-content .modal-close i{
	filter:alpha(Opacity=70);
	-moz-opacity: 0.7;
	opacity: 0.7;
}

.modal-content .modal-close:hover i{
	filter:alpha(Opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}

.modal-content .modal-header{
	/* width: 472px; */
	height: 22px;
	padding: 16px 24px;
	border-bottom: 1px solid rgb(232,232,232);
}

.modal-content .modal-body{
	/* width: 472px; */
	height: 372px;
	padding: 24px;
	border-bottom: 1px solid rgb(232,232,232);
}

.modal-content .modal-body .modal-form{
	width: 100%;
	height: 100%;
}

.modal-form .modal-item{
	height: 61px;
	padding: 0px 0px 9px 0px;
	margin:  0px 0px 24px 0px;
}

.modal-form .modal-item .item-lable{
	width: 100%;
	height: 21px;
	padding: 0 0 8px 0;
	font-size: 14px;
	vertical-align: middle;
}

.red{
	color: red;
}

.red::-webkit-input-placeholder{
	color: red;
}
.red:-moz-placeholder{
	color: red;
}
.red::-moz-placeholder{
	color: red;
}
.red:-ms-input-placeholder{
	color: red;
}

.modal-form .modal-item .item-control{
	width: 100%;
	height: 32px;
}

.item-control input,select{
	width: 100%;
	height: 100%;
	border: 1px solid rgb(232,232,232);
	border-radius: 4px;
	padding: 0;
	text-indent:11px;
}

.explain{
	height: 20px;
	font-size: 14px;
}

.item-control input:focus{
	outline: 0;
    box-shadow: 0 0 0 2px rgba(24,144,255,.2);
}

.item-control input:focus, .item-control input:hover {
    border-color: #40a9ff;
    border-right-width: 1px!important;
}

.item-control select:focus{
	outline: 0;
    box-shadow: 0 0 0 2px rgba(24,144,255,.2);
}

.item-control select:focus, .item-control select:hover {
    border-color: #40a9ff;
    border-right-width: 1px!important;
}

.modal-content .modal-foot{
	/* width: 488px; */
	height: 32px;
	padding: 10px 16px;
}

.item-control .check-error{
	width: 100%;
	height: 100%;
	border: 1px solid red;
	border-radius: 4px;
	padding: 0;
}

.item-control .check-error:focus, .item-control .check-error:hover {
    border-color: red;
    border-right-width: 1px!important;
}

.item-control .check-error:focus{
	outline: 0;
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.2);
}

.modal-foot button{
	float: right;
	font-weight: 400;
	text-align: center;
	border: 1px solid transparent;
	font-size: 14px;
    border-radius: 4px;
	height: 32px;
	padding: 0px 15px;
	background-color: rgb(24, 144, 255);
	color: white;
	cursor: pointer;
}

@media only screen and (max-width: 767px){
	.modal-wrap .modal .modal-content{
		width: 90%;
	}
}